#home .btn-container {
  margin: 10px 0 10px; }

#main-content {
  margin: 10px; }

.container {
  max-width: 1070px;
  margin: auto; }

.navbar-container {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  background: #007000;
  font-family: 'Open Sans', sans-serif; }
  .navbar-container a {
    text-decoration: none; }
  .navbar-container span {
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    vertical-align: top;
    font-weight: 700;
    font-size: 16pt;
    color: #f3efe8; }

.navbar-logo {
  width: 25px;
  transform: rotate(-10deg); }

/*********************************************************
 *
 *  Base Styles
 *
 *********************************************************/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 20px; }

/*********************************************************
 *
 *  Behaviours
 *
 *********************************************************/
.clear {
  clear: both; }

/*********************************************************
 *
 *  Buttons
 *
 *********************************************************/
.btn {
  display: inline-block;
  background: #00574e;
  background-image: -webkit-linear-gradient(top, #00574e, #003e37);
  background-image: -moz-linear-gradient(top, #00574e, #003e37);
  background-image: -ms-linear-gradient(top, #00574e, #003e37);
  background-image: -o-linear-gradient(top, #00574e, #003e37);
  background-image: linear-gradient(to bottom, #00574e, #003e37);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.btn:hover {
  background: #008172;
  background-image: -webkit-linear-gradient(top, #008172, #006d60);
  background-image: -moz-linear-gradient(top, #008172, #006d60);
  background-image: -ms-linear-gradient(top, #008172, #006d60);
  background-image: -o-linear-gradient(top, #008172, #006d60);
  background-image: linear-gradient(to bottom, #008172, #006d60);
  text-decoration: none; }

.btn-container {
  display: block;
  float: left; }

/*********************************************************
 *
 *  Form Elements
 *
 *********************************************************/
.form-element {
  margin-bottom: 5px; }

input[type="submit"] {
  display: block; }

/*# sourceMappingURL=growlog.css.map */
