<h1>Delete plants</h1>
<p>Delete all plants in the database?</p>

<div class="btn-container">
<div class="btn" ng-click="deleteAllPlants()">Yes</div>
</div>

<div class="btn-container">
<div class="btn">No</div>
</div>