<div id="home">

<h1>Welcome</h1>

<div class="btn-container clear">
	<a href="plants/add" class="btn">Add a new plant ></a>
</div>
<div class="btn-container clear">
	<a href="plants/view" class="btn">View plants ></a>
</div>
<div class="btn-container clear">
	<a href="plants/delete" class="btn">Delete all plants ></a>
</div>

</div>