<h1>Add a new plant</h1>
<form ng-submit="submit(newPlant)" novalidate>
	<div class="form-element">
		Plant name: <input type="text" ng-model="newPlant.name">
	</div>
	<div class="form-element">
		Plant species: <select ng-model="newPlant.species" ng-options="species.name for species in allSpecies">
		<!-- <option ng-repeat="species in allSpecies" value="{{species.id}}">{{species.name}}</option> --></select>
	</div>
	<div class="form-element" ng-show="newPlant.species == newSpeciesOption">
		New species name: <input type="text" ng-model="newSpeciesName">
	</div>
	<input class="btn" type="submit"></input>
	<p ng-show="submitSuccess">Plant submitted successfully</p>
</form>
