<h1>All plants</h1>
<div ng-repeat="plant in allPlants">
	<p>Plant name: {{plant.name}} <br/>
	   Species name: {{plant.species.name}}</p>
</div>
<p ng-show="!allPlants || allPlants.length == 0">No plants in database</p>